RewriteEngine on
RewriteCond $1 !^(index\.php|assets|images|js|css|googleb602dc8d7732f245.html|uploads|favicon.png)
RewriteCond %(REQUEST_FILENMAE) !-f
RewriteCond %(REQUEST_FILENMAE) !-d
RewriteRule ^(.*)$ ./index.php/$1 [L]