body{
   background-color: rgb(177, 238, 238);
}

.register-center{
    width: 50%;
    background-color: white;
    position: absolute;
    top:50%;
    right:50%;
    transform: translate(50%,-50%);
    -webkit-box-shadow: -2px 0px 18px 0px rgba(134,159,235,1);
    -moz-box-shadow: -2px 0px 18px 0px rgba(134,159,235,1);
    box-shadow: -2px 0px 18px 0px rgba(134,159,235,1);
    z-index: -100;

}

@media only screen and (max-width: 600px){
    .register-center{
        width: 90%;
        
    }
}